/* Resets, defaults e imports */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  --white: #fff;
  --black: rgb(40, 40, 40);
  --red: #ff3b3b;
  --yellow: #fce38a;
  --dark-blue: #0e5f76;
  --light-blue: #009494;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: var(--black);
}

a,
a:visited,
a:link {
  color: var(--black);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
}

/* Estilos */

main {
  margin: 138px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
}

/* Nav Related Section */
nav {
  position: fixed;
  top: 0;
  z-index: 100;

  width: 100%;
  height: 83px;
  background: var(--white);
  border-bottom: 3px solid var(--black);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 11px 150px;

  font-size: 24px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 45px;
}

.current-link {
  font-weight: bold;
}

#isologo {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 48px;
}

#cart-btn {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

#cart-list {
  width: 500px;
  min-height: 150px;
  max-height: 700px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 95%;
  right: 20px;
  border: 2px solid var(--black);
  border-radius: 10px;
  padding: 15px 30px;
  z-index: 100;
  box-shadow: 21px 21px 71px -32px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 21px 21px 71px -32px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 21px 21px 71px -32px rgba(0, 0, 0, 0.75);
}

#cart-list ul li {
  border-bottom: 1px solid var(--black);
  margin-bottom: 20px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

#cart-list .cart-payment {
  font-size: 30px;
  font-weight: 600;
}

#purchase-btn {
  font-size: 18px;
  font-weight: 700;
  width: 120px;
  height: 60px;
}

#trash-btn {
  font-size: 18px;
  width: 120px;
  font-weight: 400;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-button-container {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}

section {
  position: relative;
  width: 1212px;
  min-height: 500px;
  border: 1px solid var(--black);
}

/* Hero Section */

.hero-section {
  height: 700px;
}

.hero-section h2 {
  font-family: 'Space Grotesk';
  font-size: 96px;
  font-weight: bold;
  line-height: 100px;

  position: absolute;
  top: 44px;
  right: 83px;
  width: 593px;
}

.hero-section p {
  position: absolute;
  width: 534px;
  right: 140px;
  bottom: 227px;

  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.015em;
}

.hero-section figure {
  position: absolute;
  left: 83px;
  top: 24px;
}

.hero-section .red-square {
  width: 292px;
  height: 100%;
}

.hero-section .button-container {
  width: 448px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 89px;
  right: 221px;
}

.hero-shop-section {
  min-height: 293px;
  overflow: hidden;
}

.hero-shop-section h2 {
  position: absolute;
  width: 646px;
  height: 100px;
  left: 87px;
  top: 31px;

  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 100px;
}

.hero-shop-section p {
  position: absolute;
  width: 534px;
  height: 88px;
  left: 103px;
  top: 157px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.015em;
}

.hero-shop-section figure {
  position: absolute;
  width: 351px;
  height: 294px;
  left: 778px;
  top: -1px;
}

/* Drop Section */

.drop-section h2 {
  position: absolute;
  left: 103px;
  top: 100px;

  font-family: 'Space Grotesk';
  font-weight: 700;
  font-size: 64px;
  line-height: 82px;
}

.drop-section h5 {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;

  position: absolute;
  top: 242px;
  left: 103px;
}

.drop-section .drop-countdown {
  position: absolute;
  left: 103px;
  bottom: 100px;
  height: 70px;
  padding: 20px 35px;
  border-radius: 10px;
  font-size: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-section figure {
  position: absolute;
  right: 72px;
}

.drop-section figure img {
  height: 498px;
}

/* Launch Section */

.launch-section {
  height: 600px;
  overflow: hidden;
}

.launch-section h2 {
  position: absolute;
  left: 103px;
  top: 136px;
  font-weight: bold;
  font-size: 64px;
}

.launch-section .text-block {
  position: absolute;
  top: 226px;
  left: 103px;
}

.launch-section .text-block p {
  font-size: 32px;
}

.launch-section .text-block .price {
  font-family: 'Space Grotesk';
  font-size: 48px;
  font-weight: bold;
}

.launch-section a,
.launch-section button {
  position: absolute;
  left: 103px;
  bottom: 104px;
}

.launch-section figure {
  position: absolute;
  top: 0;
  right: 72px;
}

.launch-section figure img {
  width: 441px;
  height: 638px;
}

.launch-section .banner {
  position: absolute;
  width: 386px;
  height: 83px;
  left: -71px;
  top: 0;

  border: 2px solid var(--black);
  transform: rotate(-30deg);
}

.launch-section .banner p {
  font-family: 'Space Grotesk';
  font-size: 48px;
}

/* Items Section */
.item-section {
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px 103px;
  gap: 71px;
}

.item-section .item-buyable {
  width: 288px;
  height: 496px;
  border: 2px solid var(--black);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.item-buyable h2 {
  font-family: 'Space Grotesk';
  font-size: 36px;
  line-height: 46px;
}

.item-buyable .description {
  font-size: 20px;
  text-align: center;
}

.item-buyable .price {
  font-size: 36px;
  font-family: 'Space Grotesk';
}

.item-buyable button {
  font-weight: 600;
  font-size: 18px;
}

/* About Section */

.about-section {
  height: 941px;
  overflow: hidden;
}

.about-section h2 {
  position: absolute;
  font-size: 64px;
  font-family: 'Space Grotesk';

  left: 103px;
  top: 27px;
}

.about-section p {
  position: absolute;
  font-size: 32px;
  line-height: 123.4%;
  letter-spacing: 0.015em;
  width: 616px;
  z-index: 50;
}

.about-section .p-1 {
  left: 103px;
  top: 150px;
}

.about-section .p-2 {
  left: 103px;
  top: 542px;
}

.about-section figure {
  position: absolute;
  width: 406px;
  height: 452px;
  left: 806px;
  top: 199px;
}

.about-section .square {
  position: absolute;
  width: 380px;
  height: 832px;
  left: 0px;
  top: 109px;
  z-index: 1;
  background: #00aaaa;
}

/* Mail Section */

.mail-suscription {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 55px 0;
  gap: 45px;
}

.mail-suscription h2 {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 61px;
  z-index: 10;
}

.mail-suscription .banner {
  content: '';
  position: absolute;
  width: 1036px;
  height: 13px;
  top: 90px;
  background-color: var(--red);
  z-index: 1;
}

.mail-suscription form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding: 55px 205px;
}

.mail-suscription form fieldset {
  border: none;
  position: relative;
}

.mail-suscription form fieldset label {
  font-size: 28px;
  font-weight: 500;
}

.mail-suscription form fieldset input {
  margin-top: 10px;
  margin-bottom: 20px;
}

.mail-suscription a {
  text-decoration: underline;
}

/* Mi Cuenta */

.my-acc-section {
  height: 600px;
}

.my-acc-section h2 {
  position: absolute;
  left: 103px;
  top: 89px;
  font-family: 'Space Grotesk';
  font-size: 48px;
  text-decoration: underline;
}

.my-acc-section p {
  position: absolute;
  width: 534px;
  text-align: center;
  left: 339px;
  top: 211px;
  font-weight: 300;
  font-size: 36px;
}

.my-acc-section div {
  position: absolute;
  bottom: 176px;
  left: 366px;
  width: 480px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.my-acc-section div a {
  height: 70px;
  width: 170px !important;
}

/* FAQ Section */

.faq-section {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 144px;
  gap: 70px;
}

.faq-section h2 {
  font-size: 64px;
  line-height: 75px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
}

.faq-section .faq-accordion {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 924px;
  gap: 20px;
  border-bottom: 1px solid var(--black);
  cursor: pointer;
}

.faq-section .faq-accordion::after {
  position: absolute;
  content: '+';
  font-size: 64px;
  font-weight: 100;
  right: 0;
  top: -10px;
}

.faq-section .faq-accordion h3 {
  font-weight: 400;
  font-size: 40px;
  line-height: 51px;
}

.faq-section .faq-accordion p {
  font-weight: 400;
  font-size: 24px;
  transition: all 0.2s;
}

.faq-section .faq-accordion p a {
  display: inline-block;
  padding: 0 10px;
  background-color: var(--yellow);
  border-radius: 10px;
}

/* ToS */

.terms-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 75px;
}

.terms-section h2 {
  font-size: 64px;
  line-height: 75px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
}

.terms-section p {
  font-weight: 400;
  font-size: 24px;
}

/* Tracking */
.tracking-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.tracking-section h2 {
  font-size: 64px;
  line-height: 75px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
}

.tracking-section div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.tracking-section div label {
  font-size: 28px;
  font-weight: 500;
}

.tracking-section div p {
  font-size: 20px;
}

.tracking-section button {
  width: 170px;
}

/* Footer */

footer {
  height: 342px;
  background-color: var(--black);
  color: var(--white);
  border: 4px solid var(--white);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 55px 150px;
  gap: 247px;
}

footer div {
  width: 201px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

footer h2 {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 82px;
}

footer h3 {
  font-family: 'Space Grotesk';
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
}

footer p {
  width: 155px;

  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

/* Clases por componente */

.action-button,
.action-button--xl {
  color: var(--black);
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0 3px 3px 0;
  border-color: var(--black);
  text-align: center;

  transition: all 0.1s;
}

.action-button:active,
.action-button--xl:active {
  transform: translate(2px, 2px);
  border-color: transparent;
}

.action-button--xl {
  border-width: 0 6px 6px 0;
  font-size: 24px;
  font-weight: bold;
}

.secondary-button {
  background-color: var(--black);
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid transparent;
  text-align: center;
}

.form-input {
  width: 802px;
  height: 50px;
  border: 2px solid var(--black);
  border-radius: 10px;
  background-color: var(--white);
  padding: 0 22px;
  font-size: 20px;
  transition: all 0.2s;
}

.form-input::placeholder {
  font-size: 20px;
}

.form-input:focus-visible {
  outline: 1px solid var(--black);
}

.form-checkbox {
  margin-right: 30px;
  opacity: 0;
}

.form-checkmark {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 30px;
  width: 30px;
  border: 2px solid var(--black);
  border-radius: 10px;
  background-color: var(--white);
  z-index: 10;
}

.form-checkbox:checked ~ .form-checkmark {
  background-color: var(--black);
}

/* Clases de utilidad */

.bg-white {
  background-color: var(--white);
}

.c-white {
  color: var(--white) !important;
}

.bg-yellow {
  background-color: var(--yellow);
}

.c-yellow {
  color: var(--yellow);
}

.bg-red {
  background-color: var(--red);
}

.c-red {
  color: var(--red);
}

.bg-lightblue {
  background-color: var(--light-blue);
}

.c-lightblue {
  color: var(--light-blue);
}

.bg-blue {
  background-color: var(--dark-blue);
}

.c-blue {
  color: var(--dark-blue);
}

.bg-black {
  background-color: var(--black);
}

.c-black {
  color: var(--black);
}

.text-upper {
  text-transform: uppercase;
}

.text-700 {
  font-weight: 700;
}

.text-500 {
  font-weight: 500;
}

.text-400 {
  font-weight: 400;
}

.text-300 {
  font-weight: 300;
}

.hidden {
  display: none !important;
}
